html, body {
    scroll-behavior: smooth;
    background-color: #71b9b8;   
    overflow-x: hidden;
}
div#clubs, div#organizations {
    border-radius: 30px;
}
 /* {
    background-color: black;
} */
main#inside {
    margin-left: 20px;
    margin-right: 20px;
}
div.video {
    padding-left: 0px;
    padding-right: 0px;
}
h1 {
    font-size: 50px;
    font-family: 'Lobster', cursive;  
    color: #B86F71;  
}
.jumbotron {
    background-color: #ffffff;
}
.buttons {
    white-space: nowrap;
}
.btn-circle {
    text-align: center;
    border-radius: 50px;
    background-color: transparent;
    color: black;
}
#information {
    margin-top: 50px;
    margin-bottom: 50px;
}
h1#welcome {
    height: 50vh;
    width: 100%;    
    color: #B8B76F;
}

/* Hide Elements Except Login on First Load */
/* Logos */
/* Clubs */
#iheart_logo, #peer_logo, #teatro_logo {
    display: none;
}
/* Descriptions */
#teatro, #iheart, #peer {
    display: none;
}

/* Orgs */
/* Logos */

/* Descriptions */
#maces, #uapsa, #jpsme, #jpice, #jpiche, #jieep, #jiiee, #jpiie, #css, #cas, #atycb {
    display: none;
}

#maces_logo, #uapsa_logo, #jpsme_logo, #jpice_logo, #jpiche_logo, #jieep_logo, #jiiee_logo, #jpiie_logo, #css_logo, #cas_logo, #atycb_logo {
    display: none;
}

/*  Typewriting Effect */
.typewriter h1 {
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto;
    animation: 
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

div#content {
    background-color: #71b9b8;
}
div#image {    
    background-image: url("../images/fair.jpg");    
    overflow-y: hidden;
    background-size: 100% 100%;
    object-fit: cover;       
    background-position: center;
    background-repeat: no-repeat;    
    /* background-attachment: fixed;     */
    /* position: relative; */
    /* width: 100%; */
}
div.scroll {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;    
}
img.logo {
    height: 100px;
}
img.logob {
    max-height: 100px;
    max-width: 100px;
    transform: translateY(-50%);
}
hr.style1{
    border-top: 1.5px dashed #8c8b8b;
	border-bottom: 1.5px dashed #fff;
    margin-left: 40px;
    margin-right: 40px;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 40px; 
}
span#userCount, span#credits {
    color: black;
}
footer.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

/* Media Queries */
/* Desktop Version */
@media (min-width: 992px) {
    div#image {
        height: 100vh;
    }
    h1#welcome {
        font-size: 50px;
    }
    img#icon {
        height: 70px;
    }
    #welcomeMessage {
        height: 50vh;
        width: 100%;
        transform: translateY(50%);
    }
    h1 {
        text-shadow: 2px 2px black;
    }
    h1#welcome {
        text-shadow: 2.5px 2.5px black;
    }    
    .col-lg-6 {
        max-width: 100%;
    }
}

/* Tablet Version */
@media (min-width: 768px) and (max-width: 991px) {
    div#image {
        height: 75vh;
    }
    h1#welcome {
        font-size: 30px;
    }
    img#icon {
        height: 50px;
    }
    #welcomeMessage {
        height: 50vh;
        width: 100%;
        transform: translateY(45%);
    }
    h1 {
        text-shadow: 1px 1px black;
    }
}


/* Mobile Version */
@media (max-width: 767px) {
    div#image {        
        height: 50vh;
    }
    h1#welcome {
        font-size: 16px;
    }
    img#icon {
        height: 30px;
    }
    #welcomeMessage {
        height: 50vh;
        width: 100%;
        transform: translateY(35%);
    }
    h1 {
        text-shadow: 0.5px 0.5px black;
    }
    .col-md-12, .col-lg-6 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Animation */
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    margin: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 25px 25px 25px 25px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.loginArea {
    margin: 25px;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
  
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
  
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
  
.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
  
.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
  
.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
  
.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
